.asset-editor {
  overflow: hidden;
}
.asset-editor .canvas-holder {
  overflow: auto;
  position: relative;
}
.asset-editor .canvas-holder::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.asset-editor .canvas-holder::-webkit-scrollbar-track {
  margin: 0;
}
.asset-editor .canvas-holder::-webkit-scrollbar-thumb {
  border-radius: 0;
}
.asset-editor .main-canvas {
  background: white;
}
.asset-editor .main-canvas.pointer {
  cursor: pointer;
}
.asset-editor .main-canvas.move {
  cursor: move;
}
.asset-editor .main-canvas.crosshair {
  cursor: url('../images/plus.svg') 7 7, auto;
}
.asset-editor .main-canvas.white-crosshair {
  cursor: url('../images/plus-white.svg') 7 7, auto;
}
.asset-editor .main-canvas.remove {
  cursor: url('../images/delete-point.svg') 4 3, auto;
}
.asset-editor .spinner {
  color: #999;
  position: absolute;
  top: 48%;
  left: 48%;
}
.asset-editor .hidden {
  display: none;
}


.asset-editor .right-sidebar .paths {
  position: relative;
  padding-right: 14px;
  min-height: 300px;
}
.asset-editor .right-sidebar .path-list {
  overflow-y: scroll;
  padding-right: 10px;
  margin-right: -10px;
}
.asset-editor .right-sidebar .path-list::-webkit-scrollbar-track {
  margin: 0;
}
.asset-editor .right-sidebar .path-list::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.4);
	border-radius: 3px;
}

.asset-editor .right-sidebar .paths .new-path {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}
.asset-editor .right-sidebar .paths .row {
  position: relative;
}
.asset-editor .right-sidebar .paths .row:last-child {
  margin-bottom: 40px;
}
.asset-editor .right-sidebar .paths .row .btn {
  display: none;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.asset-editor .right-sidebar .paths .row:hover .btn {
  display: inherit;
}
.asset-editor .right-sidebar .path {
  padding: 10px 20px;
  background: #444;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}
.asset-editor .right-sidebar .path.hidden {
  display: none;
}
.asset-editor .right-sidebar .path.active {
  background: rgba(0, 252, 46, 0.2);
}
.asset-editor .right-sidebar .path.clear {
  height: 14px;
  background: transparent;
  cursor: default;
}
.asset-editor .right-sidebar .path.drop-target{
  margin-top: 38px;
}
.asset-editor .right-sidebar .path.drop-target:before {
  content: '';
  border: 1px dashed rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -36px;
  left: 0;
}
.asset-editor .preview-canvas, .asset-editor .preview-canvas-full {
  background: white;
}




.scene-editor {
  overflow: hidden;
}
.scene-editor .canvas-holder {
  position: relative;
  overflow: hidden;
}
.scene-editor .canvas-scroll {
  overflow: auto;
  position: relative;
}
.scene-editor .canvas-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}
.scene-editor .canvas-scroll::-webkit-scrollbar-track {
  margin: 0;
}
.scene-editor .canvas-scroll::-webkit-scrollbar-thumb {
  border-radius: 0;
}
.scene-editor .main-canvas {
  background: white;
}
.scene-editor .main-canvas.pointer {
  cursor: pointer;
}
.scene-editor .main-canvas.move {
  cursor: move;
}
.scene-editor .floating-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}
.scene-editor .selection {
  position: absolute;
  pointer-events: none;
  border: 2px dashed #999;
}
.scene-editor .selection .handle {
  width: 6px;
  height: 6px;
  position: absolute;
  background: #666;
  pointer-events: auto;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.scene-editor .selection .handle i { display: none; font-size: 12px; pointer-events: none; }
.scene-editor .selection .handle.top-left { left: -4px; top: -4px; }
.scene-editor .selection .handle.top { left: calc(50% - 3px); top: -4px; }
.scene-editor .selection .handle.top-right { left: calc(100% - 2px); top: -4px; }
.scene-editor .selection .handle.right { left: calc(100% - 2px); top: calc(50% - 3px); }
.scene-editor .selection .handle.bottom-right { left: calc(100% - 2px); top: calc(100% - 2px); }
.scene-editor .selection .handle.bottom { left: calc(50% - 3px); top: calc(100% - 2px); }
.scene-editor .selection .handle.bottom-left { left: -4px; top: calc(100% - 2px); }
.scene-editor .selection .handle.left { left: -4px; top: calc(50% - 3px); }
.scene-editor .selection .handle:hover, .scene-editor .selection .handle.active {
  background: #444;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.scene-editor .selection .handle:hover i, .scene-editor .selection .handle.active i { display: inline-block; }
.scene-editor .selection .handle.top-left:hover,
.scene-editor .selection .handle.top-left.active { left: -7px; top: -7px; transform: rotate(45deg); }
.scene-editor .selection .handle.top:hover,
.scene-editor .selection .handle.top.active { left: calc(50% - 7px); top: -8px; transform: rotate(90deg); }
.scene-editor .selection .handle.top-right:hover,
.scene-editor .selection .handle.top-right.active { left: calc(100% - 7px); top: -7px; transform: rotate(-45deg); }
.scene-editor .selection .handle.right:hover,
.scene-editor .selection .handle.right.active { left: calc(100% - 7px); top: calc(50% - 7px); }
.scene-editor .selection .handle.bottom-right:hover,
.scene-editor .selection .handle.bottom-right.active { left: calc(100% - 8px); top: calc(100% - 8px); transform: rotate(45deg); }
.scene-editor .selection .handle.bottom:hover,
.scene-editor .selection .handle.bottom.active { left: calc(50% - 7px); top: calc(100% - 7px); transform: rotate(90deg); }
.scene-editor .selection .handle.bottom-left:hover,
.scene-editor .selection .handle.bottom-left.active { left: -7px; top: calc(100% - 7px); transform: rotate(-45deg); }
.scene-editor .selection .handle.left:hover,
.scene-editor .selection .handle.left.active { left: -8px; top: calc(50% - 7px); }
.scene-editor .selection .rotate:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 2px;
  background: #999;
  top: 50%;
  left: -4px;
  transform: translateY(-50%);
}
.scene-editor .selection .rotate {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(100% + 12px);
  color: #666;
  pointer-events: auto;
  cursor: pointer;
}
.scene-editor .selection .rotate i:nth-child(1) { transform: scale(0.7); }
.scene-editor .selection .rotate i:nth-child(2) { transform: scale(0.4); }
.scene-editor .selection .rotate:hover i,
.scene-editor .selection .rotate.active i {
  color: #444;
}

.scene-editor .selection-controls {
  position: absolute;
  height: 30px;
  width: 100%;
  min-width: 165px;
  right: 0;
  top: -36px;
  pointer-events: auto;
}
.scene-editor .selection-controls .btn {
  padding: 5px;
}
.scene-editor .selection-controls .btn:hover {
  transform: translateY(-2px);
}
.scene-editor .selection-controls .align-controls .btn {
  margin-bottom: -6px;
}

.scene-editor.blackboard .selection-controls {
  -webkit-filter: invert(60%);
}

.scene-editor.greenboard .selection-controls {
  -webkit-filter: invert(60%);
}

.scene-editor .spinner {
  color: #999;
  position: absolute;
  top: 48%;
  left: 48%;
}
.scene-editor .hidden {
  display: none;
}
.scene-editor .right-sidebar .items {
  position: relative;
  overflow-y: scroll;
  padding-right: 14px;
  min-height: 300px;
}
.scene-editor .right-sidebar .items::-webkit-scrollbar-thumb {
	margin: 20px;
  background: rgba(255,255,255,0.4);
	border-radius: 3px;
}
.scene-editor .right-sidebar .items .item {
  padding: 10px;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
  border: 1px solid #c0c2c7;
  border-radius: 4px;
}
.scene-editor .right-sidebar .item .img_wrapper {
  background: #fff;
  pointer-events: none;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  overflow: hidden;
}
.scene-editor .right-sidebar .item img {
  max-width: 100%;
  max-height: 100%;
  background: #fff;
}
.scene-editor .right-sidebar .item.active {
  background: rgba(0, 252, 46, 0.2);
}
.scene-editor .right-sidebar .item.clear {
  height: 90px;
  background: transparent;
  border: none;
  cursor: default;
}
.scene-editor .right-sidebar .item.hidden {
  display: none;
}
.scene-editor .right-sidebar .item.drop-target{
  margin-top: 94px;
}
.scene-editor .right-sidebar .item.drop-target:before {
  content: '';
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -93px;
  left: 0;
}
.scene-editor .right-sidebar .item .settings {
  pointer-events: none;
  padding: 0 10px;
}
.scene-editor .right-sidebar .item .settings > hr {
  background: transparent;
  border: 0;
  height: 1px;
  margin: 2px 0;
}
.scene-editor .right-sidebar .item label {
  display: inline-block;
  width: 72px;
  font-size: 13px;
}
.scene-editor .right-sidebar .item .time-input {
  display: inline-block;
}
.scene-editor .right-sidebar .item input {
  width: 75px;
  font-size: 13px;
  padding: 9px 30px 8px 8px;
}
.scene-editor .preview-canvas-full {
  background: white;
}

.scene-editor .edit-text-box {
  font-size: 14px;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}

/* flexbox-fix non hoverable issue for react-color */
.scene-editor .flexbox-fix > div {
  position: relative;
}

.scene-settings .content {
  width: 300px;
}
.scene-settings .group {
  margin-top: 2em;
}
.scene-settings .time-input input {
  width: 75px;
}


.asset-settings .content {
  width: 300px;
}
.asset-settings .group {
  margin-top: 2em;
}
.asset-settings .settings {
  border: 1px dashed #c0c2c7;
  padding: 1em;
  margin-bottom: 0.5em;
}
.asset-settings .time-input { display: inline-block; }
.asset-settings .time-input input { width: 100%; }


.video-settings .group {
  margin-top: 2em;
}
.video-settings label {
  margin: 0 0 0.5em;
}
.video-settings .style-wrapper {
  padding: 15px 15px 20px 15px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}
.video-settings .style-wrapper.selected {
  background: #a4cefa;
  border-radius: 5px;
}
.video-settings .style {
  position: relative;
  width: 148px;
  height: 84px;
  overflow: hidden;
  margin-bottom: 0.5em;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.video-settings .style img {
  max-width: 130%;
  max-height: 130%;
  top: 10%;
}
.video-settings .style-wrapper i {
  font-weight: bold;
  margin-right: 5px;
}
.video-settings .style .options {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
}
.video-settings .style .option {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #aaa;
  cursor: pointer;
}
.video-settings .style .option.selected {
  border-color: #ccc;
}
.video-settings .hands {
  background: #a4cefa;
  padding: 15px 30px 15px 15px;
  border-radius: 5px;
  margin-top: -7px;
  overflow-x: auto;
}
.video-settings .hand-wrapper {
  background: #fff;
  width: 85px;
  height: 85px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.video-settings .hand-wrapper:not(:first-child) {
  margin-left: 10px;
}
.video-settings .hand-wrapper.selected {
  box-shadow: 0 0 0 3px #487fb7;
}
.video-settings .hands.blackboard .hand-wrapper {
  background: #333;
}
.video-settings .hands.greenboard .hand-wrapper {
  background: #2f5848;
}
.video-settings .hands.blackboard .hand-wrapper.selected,
.video-settings .hands.greenboard .hand-wrapper.selected {
  box-shadow: 0 0 0 3px #fff;
}

.video-settings .hands .no-hand {
  height: 100%;
  font-size: 16px;
  color: #333;
}
.video-settings .hands.blackboard .no-hand,
.video-settings .hands.greenboard .no-hand,
.video-settings .hands.colorboard .no-hand,
.video-settings .hands.imageboard .no-hand {
  color: #ccc;
}

.video-settings a {
  color: #444;
  text-decoration: none;
}
.video-settings .content {
  width: 720px;
}
.video-settings a:hover {
  text-decoration: underline;
}
.video-settings .settings {
  border: 1px dashed #c0c2c7;
  padding: 1em;
  margin-bottom: 0.5em;
}
.video-settings span {
  margin-bottom: 0.4em;
}
.video-settings .disabled span{
  color: #ccc;
}
.video-settings .disabled .note {
  color: #ff0000;
  font-size: 0.9em;
}

.font-preview {
  overflow: hidden;
}
.font-preview .canvas-holder {
  overflow: auto;
  position: relative;
}
.font-preview .canvas-holder::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 10px;
}
.font-preview .canvas-holder::-webkit-scrollbar-track {
  margin: 0;
}
.font-preview .canvas-holder::-webkit-scrollbar-thumb {
  border-radius: 0;
}
.font-preview .main-canvas {
  background: white;
}
.font-preview .spinner {
  color: #999;
  position: absolute;
  top: 48%;
  left: 48%;
}
.font-preview .hidden {
  display: none;
}
.font-preview .btn.destroy {
  position: absolute;
  top: 10px;
  right: 10px;
}

.canvas-controls {
  position: absolute;
  left: 5px;
  top: 5px;
}
.canvas-controls .btn {
  font-size: 13px;
}
.blackboard .canvas-controls .btn {
  background: #eee;
}
.canvas-controls .btn:hover {
  border: 1px solid #999;
}


.video-controls .btn {
  width: 34px;
  color: #999;
}
.video-controls .btn .fa-play {
  color: #0abe66;
}
.video-controls .progress-bar{
  background: #eee;
  margin: 0 5px;
  cursor: pointer;
}
.video-controls .progress-bar .progress {
  background: #499df5;
  opacity: 0.8;
  height: 10px;
}
