.export {
  margin-bottom: 1em;
  width: 450px;
}
.export label {
  margin: 2em 0 0.5em;
}
.export .settings {
  border: 1px dashed #c0c2c7;
  padding: 1em;
  margin-bottom: 1.5em;
}
.export .settings label {
  margin: 0 0 0.5em;
}
.export .progress_wrapper {
  margin-bottom: 2em;
}
.export .progress_bar {
  height: 10px;
  background: #aaa;
  border-radius: 5px;
  width: 100%;
  margin: 0.5em 1em 0.5em 0;
  overflow: hidden;
}
.export .progress_bar .progress {
  height: 100%;
  background: rgba(100, 100, 200, 1);
  border-radius: 5px;
}
.export .estimated {
  color: #666;
}
.export a {
  color: #000;
  text-decoration: none;
  padding-bottom: 0.3em;
}
.export a:hover { text-decoration: underline; }
